.container-image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15rem;
    width: 10.5rem;
    border-radius: 1rem 2px 1rem 2px;
    box-shadow: 1px 5px 13px 0px rgba(0,0,0,0.58);
    background-image: url("../../assets/backgmadera.png");
}